header{
    background-color: rgb(0, 79, 200);
}
nav li {
    display: inline;
    margin: 0 0 0 30px;
}
nav a {
     text-transform: uppercase;
     color: black;
     font-weight: bold;
     font-size: 28px;
     text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}



#logo {
    width: 250px;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

img {
    top: 284px;
    width: 300px;
    height: 300px;
}

header {
    border : 15px solid rgb(0, 0, 0);
}

body {
    background-color: rgb(5, 52, 122);
}

#Peazao {
    width: 270px;
}

#Pezin {
    width: 270px;
}

#Cavanhaquedahora {
    width: 270px;
}

.produtos {
    width: 940px;
    margin: 50px;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 30px 0;
    box-sizing: border-box;
    border: 2px solid rgb(5, 52, 122) ;
    border-radius: 10px;

}

.produtos li:hover {
    border-color: white;
}

.produtos li:active {
    border-color: rgb(5, 52, 122);

}

    .produtos li:active h2 {
        font-size: 34px;
        color: white;
    }

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background-color:rgb(0, 79, 200) ;
    padding: 5px 0;
}

footer img {
    width: 200px;
}

footer {
    border: 15px solid black;
}

p{
    color: white;
}